# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# MacOS
.DS_Store

# Logs
*.log

# ChromaDB persistence folder
chroma_db/
chromadb/

# Model caches (HuggingFace)
transformers/
huggingface_hub/

faq_ai